{% extends "includes/base.html.twig" %}

{% block title %}Alle Benutzer{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% form_theme peopleSearchForm 'bootstrap_3_horizontal_layout.html.twig' %}

{% block body %}
    {% include 'includes/nav.html.twig' %}
    <div class="container">
        <br><br>
        {% include 'includes/messages.html.twig' %}
        <h3>Such Optionen</h3>
        <div class="col-sm-6">
            {{ form_start(peopleSearchForm) }}
            {{ form_end(peopleSearchForm) }}
        </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    Nr
                </th>
                <th>
                    Name
                </th>
                <th>
                    DN
                </th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>
                    {{ loop.index}}
                </td>
                <td>
                    {{user.givenName}}
                </td>
                <td>
                    {{user.dn}}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>

{% endblock %}