{% extends "includes/base.html.twig" %}

{% block title %}Alle Benutzer{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {% include 'includes/nav.html.twig' %}
    <div class="container">
        <br><br>
        {% include 'includes/messages.html.twig' %}
        <h3>Such Optionen</h3>
        <div class="col-sm-6">
            {% if peopleSearchForm is defined %}
                {% form_theme peopleSearchForm 'bootstrap_3_horizontal_layout.html.twig' %}
                {{ form_start(peopleSearchForm) }}
                {{ form_end(peopleSearchForm) }}
            {% endif %}
        </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    Nr
                </th>
                <th>
                    Name
                </th>
                <th>
                    DN
                </th>
                <th>
                    Löschen
                </th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>
                    {{ loop.index}}
                </td>
                <td>
                    {{user.givenName}}
                </td>
                <td>
                    {{user.dn}}
                </td>
                <td>


                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".modal-{{ user.uidNumber }}">Löchen</button>

                    <div class="modal fade modal-{{ user.uidNumber }}" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="gridSystemModalLabel">Löschen?</h4>
                                </div>
                                <div class="modal-body">
                                    Wollen sie wirklich den User {{user.givenName}} löschen?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    <a class="btn btn-danger" href="{{ path('Loeschen', {'uidNumber': user.uidNumber}) }}">Löschen</a>
                                </div>
                            </div>
                        </div>
                    </div>



                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>

{% endblock %}